<p style="color: green"><%= notice %></p>

<%= render @counter %>
<hr>
<%= render(:partial => 'counterwidget', :locals => {:counter => @counter}).html_safe %>

<div>
  <%= link_to "Edit this counter", edit_counter_path(@counter) %> |
  <%= link_to "Back to counters", counters_path %>

  <%= button_to "Destroy this counter", @counter, method: :delete %>
</div>
